<h1> New message <h1>

<form method="post" action="/new">
  <input name="author" type="text" placeholder="Name">
  <input name="msg" type="text" placeholder="message">
  <input type="submit" value="Submit">
</form>
